* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #000;
    color: white;
}

footer {
    background-color: #0b4d14;
    color: white;
}

header ul,
footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

header ul {
    padding: 1rem 1rem 1rem 10rem;
}

footer ul {
    padding: 1rem 1rem 1rem 8rem;
}

header li,
footer li {
    margin-right: 2rem;
}

#facebook {
    padding-left: 55vw;
}

.intro {
    background-color: #c6bfbf;
    padding: 2rem 8rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.intro p {
    margin-top: 1rem;
}

.intro a {
    color: rgb(78, 78, 243);
}

.content {
    display: flex;
    margin: 1rem 0 9rem 0;
    padding: 0 8rem;
    justify-content: space-between;
    gap: 2rem;
}

/* Responsive design */
@media screen and (max-width: 1130px) {
    #facebook {
        padding-left: 45vw;
    }
}

@media screen and (max-width: 892px) {
    #facebook {
        padding-left: 15vw;
    }

    .content {
        display: block;
    }

    .paragraph {
        padding: 5vh 0;
    }
}

@media screen and (max-width: 749px) {
    #facebook {
        padding-left: 5vw;
    }

    .content {
        display: block;
    }

    .paragraph {
        padding: 5vh 0;
    }
}